.job-loader {
  height: 30rem;
}

.job-error {
  display: flex;
  align-items: center;
  max-width: 46rem;
  margin: auto;
  height: 12rem;
  color: crimson;
}

.job-main-list {
  margin: 4rem;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #999;
}

@media (max-width: 30rem) {
  .job-main-list {
    margin: 2rem 0;
    box-shadow: none;
  }
}

.job-main-row,
.provider-detail-row {
  display: flex;
  align-items: center;
  border-bottom: #eee 0.1rem solid;
}

.job-main-row {
  padding: 2rem;
  cursor: pointer;
  user-select: none;
}

.job-main-row-content-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.job-main-row-content-description,
.job-main-row-content-temperatures {
  display: flex;
  flex-direction: column;
}

.job-main-row-content-description {
  flex: 1;
  text-align: left;
}

.job-main-row-content-temperatures {
  text-align: left;
  margin-right: 2rem;
}

.job-main-row-content__uv {
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  font-size: 1.1rem;
}

.job-main-row-content__uv-icon {
  aspect-ratio: 53 / 101;
  height: 4.2rem;
  margin-right: 0.5rem;
}

.job-main-row-content__expand {
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
}

.job-main-row-content__expand-icon {
  height: 100%;
  width: 100%;
}

.job-main-row-content__expand-icon--up {
  transform: rotate(180deg);
}

.job-main-row-content__expand-icon--right {
  transform: rotate(-90deg);
}

.job-main-row-content__expand-icon--left {
  transform: rotate(90deg);
}

.job-main-row-content-row {
  display: flex;
  justify-content: space-between;
}

.job-main-row-content--primary {
  font-size: 1.8rem;
}

.job-main-row-content--secondary {
  font-size: 1.4rem;
  color: #888;
}

.provider-detail-row {
  padding: 1rem 3rem 1rem 2rem;
  color: #888;
}

.provider-detail-row-content__description {
  margin-left: 2rem;
  margin-right: auto;
}

.provider-detail-row-content__pop,
.provider-detail-row-content__wind {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.provider-detail-row-content__time{
  width: 4.1rem;
}

.provider-detail-row-content__pop{
  width: 5rem;
}

.provider-detail-row-content__wind {
  width: 7rem;
}

.provider-detail-row-content__pop > img,
.provider-detail-row-content__wind > img {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}